@model Domain.DTO.AddToShoppingCartDto

@{
    ViewData["Title"] = "Add To Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Add products to shoppping card</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToShoppingCart" method="post">
            <input type="hidden" asp-for="TicketId" />
            <div class="form-group">
                <label asp-for="Ticket.Name"></label>
                <input disabled asp-for="Ticket.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>