@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>To use this application for online booking tickets for cinema, you must register or if you are already registered, you must log in!</p>
</div>
